<!-- HOME -->
{% extends 'main/base.html' %}

{% block content %}
<!-- INFO -->
{% load static %}

<div class="container" id="first_section">
  <div class="row">
    <!-- top text carousel -->
    <div id="features" class="col-12">
      <div id="carousel_features" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
           {% for object in obj %}
          <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
            <h1 class="animate__animated animate__zoomIn">
            {{object.titulo}}</h1>
            <h3 class="animate__animated animate__slideInDown">{{object.subtitulo}}</h3>
          </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel_features" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel_features" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </div><br>

  <div class="row justify-content-center align-items-top g-2"> <!-- row div into two cols -->
    <div id="images" class="col-md-6 col-sm-12">
      <!-- image carousel -->
      <br>
      <div id="carousel_img" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          {% for object in obj %}
          <button type="button" data-bs-target="#carousel_img" data-bs-slide-to="{{forloop.counter0}}" {% if forloop.counter0 == 0 %} class="active"{% endif %}>
          {% endfor %}
        </div>
        <div class="carousel-inner">
           {% for object in obj %}
          <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
            <img src="{{object.imagen.url}}" class="img-fluid d-block w-100">
          </div>
            {% endfor %}
        </div>
      </div>
    </div>
    <div id="contact_div" class="col-md-6">
      <div class="d-flex justify-content-center">
        <hr>
        <div><span>{{mensaje}}</span></div>
        &nbsp;
        <h2>Contacto</h2>
        <hr>
      </div>
      <form action="" method="POST" name="contact_card">
        <div class="card "><br>
          {% load crispy_forms_tags %}
          {% csrf_token %}
          {{ form | crispy }}
          <hr>
          <div class="d-flex justify-content-center">
          <!--  <button type="reset" name="action" value="cancelar" class="btn btn-secondary">Cancelar</button>  -->
          &nbsp;
          <button type="submit" name="action" value="enviar" class="btn btn-primary">Enviar</button>
          </div><br>
        </div>
      </form>
      <br><br>
    </div>
  </div>
</div>



{% endblock %}

{% block footer %}
<!-- CONTACT -->
{% load static %}






{% endblock %}